<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<nav th:replace="base :: nav"></nav>

<a href="/">Show All Employees</a><br/>
    Department :<span th:text="${employee.department.title}"></span><br/>
    Name : <span th:text="${employee.name}"></span><br/>
    Job Title : <span th:text="${employee.jobtitle}"></span><br/>
    Name of department : <span th:text="${employee.nameofdepartment}"></span><br/>
<a th:href="@{/delete/{id}(id=${employee.id})}">Delete this employee</a>

<span th:replace="base :: jslinks"></span>
</body>
</html>